In [4]:
import pandas as pd

names = pd.read_csv('business_names_new.csv', index_col=0)
names

                                    name          fsq_category_ids  Count
73980                      Western Union  63be6904847c3692a84b9b3d   5993
83856   The PNC Financial Services Group  4bf58dd8d48988d10a951735   5032
34                             Starbucks  4bf58dd8d48988d1e0931735   4893
15911                         Blue Rhino  63be6904847c3692a84b9b34   4818
74113                             Redbox  4bf58dd8d48988d126951735   4718
...                                  ...                       ...    ...
162907           Davis Community Transit  63be6904847c3692a84b9c2d      1
161454                          Unitrans  63be6904847c3692a84b9c2d      1
159563           Michael's Transportaion  63be6904847c3692a84b9c2d      1
300744                 24 Divisadero Bus  63be6904847c3692a84b9c2d      1
291676             SF Muni Boat Tram 233  63be6904847c3692a84b9c2d      1

[93762 rows x 3 columns]

In [5]:
categories = pd.read_csv('categories.csv')
categories

,category_id,category_label
0,52e81612bcbc57f1066b7a45,Community and Government > Education > Preschool
1,5f2c2abab6d05514c70446e4,Dining and Drinking > Restaurant > Caribbean R...
2,5744ccdfe4b0c0459246b4c4,Community and Government > Public Bathroom
3,63be6904847c3692a84b9bed,Retail > Fashion Retail > Sunglasses Store
4,55a5a1ebe4b013909087cba7,Dining and Drinking > Restaurant > Italian Res...
...,...,...
1240,63be6904847c3692a84b9c1c,Sports and Recreation > Water Sports
1241,58daa1558bbb0b01f18ec1d6,Business and Professional Services > Art Studio
1242,4e52adeebd41615f56317744,Community and Government > Government Building...
1243,4bf58dd8d48988d104941735,Health and Medicine > Medical Center
1244,57558b36e4b065ecebd306b6,Dining and Drinking > Restaurant > French Rest...

In [6]:
def get_category_by_id(cat_id):
    row = categories[categories['category_id'] == cat_id]
    if not row.empty:
        return row.iloc[0]['category_label']
    return None

names['category_label'] = names['fsq_category_ids'].apply(get_category_by_id)
names

,name,fsq_category_ids,Count,category_label
73980,Western Union,63be6904847c3692a84b9b3d,5993,Business and Professional Services > Financial...
83856,The PNC Financial Services Group,4bf58dd8d48988d10a951735,5032,Business and Professional Services > Financial...
34,Starbucks,4bf58dd8d48988d1e0931735,4893,"Dining and Drinking > Cafe, Coffee, and Tea Ho..."
15911,Blue Rhino,63be6904847c3692a84b9b34,4818,Business and Professional Services > Chemicals...
74113,Redbox,4bf58dd8d48988d126951735,4718,Retail > Video Store
...,...,...,...,...
162907,Davis Community Transit,63be6904847c3692a84b9c2d,1,Travel and Transportation > Transportation Ser...
161454,Unitrans,63be6904847c3692a84b9c2d,1,Travel and Transportation > Transportation Ser...
159563,Michael's Transportaion,63be6904847c3692a84b9c2d,1,Travel and Transportation > Transportation Ser...
300744,24 Divisadero Bus,63be6904847c3692a84b9c2d,1,Travel and Transportation > Transportation Ser...
291676,SF Muni Boat Tram 233,63be6904847c3692a84b9c2d,1,Travel and Transportation > Transportation Ser...

In [7]:
names = names[names["Count"] >= 5]

In [8]:
names.to_csv('business_names_with_categories.csv', index=False)